.card {
  color: white;
  background-color: black;
  font-size: 130%;
}

.question, .answer {
  background-color: black;
}

a {
  text-decoration: none;
}
a.non_clickable {
  pointer-events: none;
}


/******** Front ********/
.question {
    /* text-align: center; */
  text-align: left;
    /* margin-top: 100px; */
}
.question_word {
    font-size: 260%;
    color: #21e6c1;
}

/******** Back ********/
.answer {
  text-align: left;
}
.word {
    font-size: 120%;
    color: #FFF8DC;
    border-color: #978d58;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
}
.kana {
    color: lightblue;
    font-size: 120%;
}
.kana .kana_entry:not(:first-child)::before, .kana .pitch:not(:first-child)::before {
  content: "|";
  padding: 0 2px;
  color: lightgray;
}
.kana .pitch {
    /* margin-right: 10px; */
}
.kana .descent {
    color: pink;
    padding-right: 2px;
}
.katsuyo .kana {
  font-size: 100%;
}
.katsuyo_word {
  display: inline-block;
  min-width: 100px;
}
.memo.decoration {
  border-style: dashed;
  border-color: darkred;
  margin: 10px;
  padding: 5px;
  font-size: 90%;
  background-color: rgb(40, 40, 40);
}
.memo.decoration ul {
  margin: 2px;
}
.origin {
    padding-left: 3px;
    vertical-align: middle;
    color: #fd7014;
}

.external_link {
  height: 30px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  border-color: white;
  border-style: solid;
  border-width: 0.1px;
  color: white !important;
  position: fixed;
  position: -webkit-fixed;
  top: calc(100vh - 210px);
  transform:translateY(-100%);
  opacity: 0.5;
}
#open_forvo {
  right: 10px
}
#open_google {
  right: 50px
}
#open_dict_kana {
  right: 90px
}
#open_dict {
  right: 130px
}
#make_clickable {
  right: 170px
}

/******** Back(Accent) ********/
.answer_accent {
  text-align: center;
}
.question_accent .kana_accent {
  font-size: 1.8em;
  /* margin-top: 100px; */
  color: #ffdf77;
}

.answer_accent {
  /* padding-top: 80px; */
}

.answer_accent .kana_accent {
  font-size: 1.8em;
}

.word_accent {
  font-size: 1.0em;
}

/**** mac_dict ****/
.x_xd1 {
  display: block;
}

.tags_accent {
  color: lightgray;
  margin-top: 10px;
  font-size: 0.8em;
}


.mac_dict .sn {
  color: #39afc6 !important;
  font-size: 80%;
}
.mac_dict .eg[role="text"] {
  color: #a7d129;
  font-size: 80%;
}
.x_xdt {
  color: #dfbebe !important;
  font-size: 80%;
}
.x_xdt .inf {
  margin-left: 6px;
}

.note, .note *{
  color: lightgray;
  font-size: 16px;
}

.mac_dict .posg {
    color: lightgray;
    font-size: 70%;
}
.mac_dict .se3 {
    display: block;
}

.pr .xr a .x_rr {
  color: lightgray;
  font-size: 60%;
  border: solid;
  border-width: 0.01px;
  padding: 1.2px 3.5px;
  margin-right: 4px;
}

.etym, .work {
  color: gray;
  font-size: 70%;
}
.etym::before, .work::before {
  content: "〔";
}
.etym::after, .work::after {
  content: "〕";
}

.fg {
  color: gray;
  font-size: 70%;
}
.fg .lbl {
  padding: 1px;
  border: solid;
  border-width: 1px;
}

.t_ルビ仮名 {
  font-size: 70%;
}

.subEntryBlock {
  color: lightgray;
  font-size: 80%;
  margin-top: 10px;
}
.subEntryBlock .subEntry {
  display: block;
}
.subEntryBlock .posg {
  font-size: 100%
}

/* .toPhrase {
  margin-top: 20px;
  color: gray;
  font-size: 80%;
} */
.toPhrase .xr {
  display: block;
}

.xrgBlock {
  font-size: 85%;
  color: lightgray;
  margin-top: 5px;
}

.xrgBlock .xr{
  display: block;
}
.xrgBlock a {
  color: lightgray;
}

.x_rr, .x_sqb, .x_xoLblBlk {
  border-style: solid;
  border-width: 0.1px;
  padding: 1px;
  margin-right: 1px;
}

.ref {
  font-size: 80%;
  color: gray;
}
.ref .work::before, .ref .work::after {
  content: none;
}
.ref .work {
  font-size: 100%;
}

.t_idioms {
  display: block;
  color: #dfbebe ;
}

.general-text {
  color: inherit;
  font-size: inherit !important;
}

/**** 品詞 ****/
.se2Group .x_xdh, .se1 .x_xdh {
  display: block;
  color: #98bae2 !important;
  background-color: rgb(6, 64, 78);
}
.x_xdh .sn, .x_xdh .posg {
  color: inherit !important;
  font-size: inherit !important;
}

.x_ni .sy {
  font-size: 80%;
}
.x_ni .sy::before {
  content: "（";
}
.x_ni .sy::after {
  content: "）";
}


/**** 「表記」 ****/
.x_xo0 {
  color: #dfbebe;
}
.x_xoh {
  display: block;
}
.x_xoh .fg {
  font-size: inherit;
  color: inherit;
}
.x_xo2 {
  display: block;
}
.x_xo2 .fg {
  font-size: inherit;
  color: white;
}
